
button {margin-right: 5px; margin-left: 5px}

.plusser {background-color: forestgreen; border-style: solid; border-color: white; border-width: 2px; font-size: 20px}

.minusser {background-color: indianred; border-style: solid; border-color: white; border-width: 2px; font-size: 20px}

/*.fruitSection{ border-style: solid; border-color: blue; border-width: 2px; margin: 20px; width: 50%; padding: 10px}*/

